<div class="half-page input-container">

  <button mat-icon-button routerLink="/upload-file" color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>
  
    <h2 *ngIf="isCreatingDataFile">{{ 'txt.headerUpload' | translate }}</h2>
    <h2 *ngIf="!isCreatingDataFile">{{ 'txt.headerUpdate' | translate }}</h2>

    <mat-form-field>
      <mat-label>{{ 'datafile.title' | translate }}</mat-label>
      <textarea matInput [disabled]="true">{{ selectedFileName }}</textarea>
    </mat-form-field>
    

      <mat-form-field>
        <mat-label>{{ 'datafile.description' | translate }}</mat-label>
        <textarea matInput [(ngModel)]="description"></textarea>
      </mat-form-field>

      <mat-form-field >
        <mat-label>{{ 'datafile.tags' | translate }}</mat-label>
        <mat-chip-grid #chipGrid [required]="true"> 
          <mat-chip-row *ngFor="let selectedKeyword of selectedKeywords" (removed)="remove(selectedKeyword)">
            {{selectedKeyword}}
            <button matChipRemove [attr.aria-label]="'remove ' + selectedKeyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="{{ 'createUpdateDatafile.newTagPlaceholder' | translate }}" #keywordInput [formControl]="keywordFormControl"
          [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let keyword of filteredKeywords | async" [value]="keyword">
            {{keyword}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      
      <ng-container >
        <p-fileUpload
          name="TXT Upload"
          (onUpload)="onUpload($event)"
          [multiple]="false"
          accept=".txt"
          chooseLabel="{{ 'upload.chooseLabel' | translate }}"
          (onSelect)="onFileSelect($event)"
          [showUploadButton]="false"
          [showCancelButton]="false"
          [auto]="false"
          (onDragEnter)="onDragEnter($event)"
          (onDragLeave)="onDragLeave($event)"
          (onDrop)="onFileDrop($event)"
        >
          <ng-template pTemplate="content">
            <div class="drop-container"
            (dragover)="onDragOver($event)"
            (dragenter)="onDragEnter($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onFileDrop($event)">
         {{ 'draganddrop.title' | translate }}
       </div>
          </ng-template>
        </p-fileUpload>
      </ng-container>
      

      <mat-slide-toggle [(ngModel)]="showAddressInput">{{ 'createUpdateDatafile.showAddressInput' | translate }}</mat-slide-toggle>

      <ng-container *ngIf="showAddressInput">
        <mat-form-field>
          <mat-label>{{ 'map.street' | translate }}</mat-label>
          <input matInput [(ngModel)]="street" required>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>{{ 'map.houseNumber' | translate }}</mat-label>
          <input matInput [(ngModel)]="houseNumber">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>{{ 'map.zip' | translate }}</mat-label>
          <input matInput [(ngModel)]="zip">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>{{ 'map.city' | translate }}</mat-label>
          <input matInput [(ngModel)]="city">
        </mat-form-field>
        
        <button mat-raised-button color="primary" class="search-address-btn" (click)="searchAddress()">{{ 'map.jump' | translate }}</button>      
      </ng-container>
      


      <div class="long-lat-container">
        <mat-form-field class="long-lat-input">
          <mat-label>{{ 'datafile.longitude' | translate }}</mat-label>
          <input matInput type="number" [(ngModel)]="longitude">
        </mat-form-field>
      
        <mat-form-field class="long-lat-input">
          <mat-label>{{ 'datafile.latitude' | translate }}</mat-label>
          <input matInput type="number" [(ngModel)]="latitude">
        </mat-form-field>
      </div>
   

      <button *ngIf="isCreatingDataFile" mat-raised-button color="primary" (click)="uploadData()" [disabled]="!formIsValid()">{{ 'createUpdateDatafile.headerUpload' | translate }}</button>
      <button *ngIf="!isCreatingDataFile" mat-raised-button color="primary" (click)="updateData()" [disabled]="!formIsValid()">{{ 'createUpdateDatafile.headerUpdate' | translate }}</button>

</div>
<div class="half-page">
    <app-map #uploadMapComponent (coordinateSelected)="handleCoordinateChange($event)"></app-map>
</div>

