<div class="mat-elevation-z8">
  <app-filter-blocks (onSearch)="loadData($event)" [dropdownOptions]="dropdownOptions"></app-filter-blocks>
  <ng-container *ngIf="dataSource.length > 0; else noData">
    <table mat-table [dataSource]="dataSource">
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>{{ 'browseJourney.title' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{ element?.title }} </td>
      </ng-container>

      <!-- Describtion Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>{{ 'browseJourney.description' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{ element?.description }} </td>
      </ng-container>

      <!-- Tags Column -->
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef>{{ 'browseJourney.tags' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{ element?.tags }} </td>
      </ng-container>

      <!-- journey Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>{{ 'browseJourney.author' | translate }}</th>
        <td mat-cell *matCellDef="let element"> {{ element?.author }} </td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef>{{ 'viewAllJourney.action' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button [matTooltip]="'browseJourney.continueJourney' | translate"
            [routerLink]="['../journey/' + element?._id]"><mat-icon>start</mat-icon></a>
          <button mat-icon-button [matTooltip]="'browseJourney.downloadJourney' | translate"
            (click)="download(element)"><mat-icon>download</mat-icon></button>
          <button mat-icon-button [matTooltip]="'browseJourney.deleteJourney' | translate" color="warn"
            (click)="delete(element?._id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalCount" [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" (page)="onPageChange($event)"
      showFirstLastButtons></mat-paginator>


  </ng-container>

  <ng-template #noData>
    <div class="error-message">
      <mat-icon class="error-icon">error</mat-icon>
      <p class="error-text">{{ 'datafile.error' | translate }}</p>
    </div>
  </ng-template>

</div>