<mat-expansion-panel>
  <mat-expansion-panel-header [style.background]="color">
    <div class="header" (click)="$event.stopImmediatePropagation()">
      <mat-checkbox
        [checked]="isAllSelected$ | async"
        [indeterminate]="isOneSelected$ | async"
        (change)="selectCollectionFiles($event)"
        ><div>
          {{ collection.title }}
        </div></mat-checkbox
      >
      <button
        mat-button
        [disabled]="isSelected$ | async"
        (click)="selectCollection()"
      >
        Show Filters<mat-icon
          [fontIcon]="!(isSelected$ | async) ? 'visibility_off' : 'visibility'"
        ></mat-icon>
      </button>
    </div>
  </mat-expansion-panel-header>
  <div>
    <app-data-file-list-entry
      *ngFor="let file of dataFiles.results"
      [file]="file"
    ></app-data-file-list-entry>
    <div *ngIf="dataFiles.results.length == 0">No Data</div>
  </div>
</mat-expansion-panel>
