@use "@angular/material" as mat;

mat-expansion-panel-header {
  &.selected {
    border: 1px solid black;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 15px;
    .header-title {
      display: flex;
      align-items: center;
      mat-checkbox {
        margin-right: 5px;
      }
      .edit-button {
        transform: scale(0.8);
      }
    }
  }
}
.no-data {
  width: 100%;
  padding: 30px 0 20px 0;
  text-align: center;
}
