.container {
  display: flex;
  justify-content: center;
  width: 100%;
  .wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 25px;
    max-width: 450px;
    width: 100%;
    form {
      width: 100%;
      margin-bottom: 5px;
      mat-form-field {
        width: 100%;
        mat-label {
          letter-spacing: 0.15em;
        }
      }
    }

    button {
      width: 100%;
      margin: 7px 0;
    }
  }
}
