<div class="container">
  <div class="wrapper">
    <div class="theme-title">
      {{ "auth.resetPassword.title" | translate | uppercase }}
    </div>
    <form>
      <mat-form-field>
        <mat-label>{{ "auth.resetPassword.email" | translate }}</mat-label>
        <input matInput [(ngModel)]="email" name="email"/>
      </mat-form-field>
    </form>
    <button mat-flat-button color="primary" (click)="resetPassword()">
      {{ "auth.resetPassword.resetAction" | translate }}
    </button>
    <button routerLink="/auth/login" mat-button>{{ "auth.resetPassword.loginAction" | translate }}</button>
  </div>
</div>
