<div *ngIf="data.dataType == DataType.REFERENCED">
  <ng-container [ngSwitch]="data.content.mediaType">
    <img class="max-fill" *ngSwitchCase="MediaType.PHOTO" [src]="data.content.url" alt="image" [width]="width"/>
    <ng-container *ngSwitchCase="MediaType.VIDEO">
      <video  controls [width]="width" *ngIf="!isYoutubeVideo(data.content.url)" class="max-fill">
        <source [src]="data.content.url" alt="video" type="video/mp4" />
      </video>
      <youtube-player *ngIf="isYoutubeVideo(data.content.url)" [videoId]="getYoutubeVideoID(data.content.url)" [width]="width" [height]="CONVERSION_16_TO_9 * width!"></youtube-player>
    </ng-container>
    <audio *ngSwitchCase="MediaType.SOUNDFILE" controls>
      <source [src]="data.content.url" alt="audio" type="audio/mpeg" />
    </audio>
  </ng-container>
</div>
<div *ngIf="data.dataType == DataType.NOTREFERENCED">
  <ngx-json-viewer
    *ngIf="localData$ | async as localData; else loading"
    [depth]="1"
    [json]="localData"
  ></ngx-json-viewer>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
