<mat-form-field class="tags-form-field" floatLabel="always">
  <mat-label>Tags</mat-label>
  <mat-chip-grid #chipGrid>
    <mat-chip-row
      *ngFor="let tagFilter of tagFilters$ | async"
      (removed)="removeFilter(tagFilter)"
    >
      {{ tagFilter.value }}
      <button matChipRemove aria-label="'remove ' + keyword">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input
      [placeholder]="'filter-blocks.new-tag' | translate"
      [matChipInputFor]="chipGrid"
      (matChipInputTokenEnd)="addTag($event)"
    />
    <mat-error *ngIf="hasAdvancedFilters$ | async">
      {{ "filter-blocks.has-advanced-filters" | translate }}
    </mat-error>
  </mat-chip-grid>
</mat-form-field>

<div class="block-buttons">
  <button mat-stroked-button color="primary" (click)="search()">
    <mat-icon fontIcon="search"></mat-icon>
    {{ "filter-blocks.apply-filters" | translate }}
  </button>

  <button mat-stroked-button color="primary" (click)="toggleAdvancedFilters()">
    <mat-icon
      [fontIcon]="showAdvancedFilters ? 'visibility_off' : 'visibility'"
    >
    </mat-icon
    >{{
      showAdvancedFilters
        ? ("filter-blocks.hide-advanced-filters" | translate)
        : ("filter-blocks.show-advanced-filters" | translate)
    }}
  </button>
</div>

<div
  class="filter-set"
  *ngIf="showAdvancedFilters && (filterSet$ | async) as filterSet"
>
  <ng-container *ngFor="let filter of filterSet$ | async; let i = index">
    <div class="and" *ngIf="i != 0">
      {{ "filter-blocks.operation-and" | translate }}
    </div>
    <mat-card>
      <div class="filter">
        <div
          *ngIf="isConcatenationFilter(filter); else filterBlock"
          class="concatenation-filters"
        >
          <ng-container
            *ngFor="let concFilter of $any(filter).filters; let i = index"
          >
            <div class="or" *ngIf="i != 0">
              {{ "filter-blocks.operation-or" | translate }}
            </div>
            <div class="or-filter">
              <app-filter-block
                [filter]="$any(concFilter)"
                (onChange)="triggerFilterChange()"
                [dropdownOptions]="dropdownOptions"
              ></app-filter-block>

              <button
                class="trash-button"
                mat-stroked-button
                color="primary"
                (click)="removeConcatenationFilter(filter, concFilter)"
              >
                <mat-icon fontIcon="delete"></mat-icon>
              </button>
            </div>
          </ng-container>
        </div>

        <ng-template #filterBlock>
          <app-filter-block
            [filter]="$any(filter)"
            (onChange)="triggerFilterChange()"
            [dropdownOptions]="dropdownOptions"
          ></app-filter-block>
          <button
            class="trash-button"
            mat-stroked-button
            color="primary"
            (click)="removeFilter(filter)"
          >
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
        </ng-template>
      </div>
      <button
        mat-stroked-button
        color="primary"
        (click)="addConcatenationFilter(filter)"
      >
        <mat-icon fontIcon="add"></mat-icon>
        {{ "filter-blocks.operation-or" | translate }}
      </button>
    </mat-card>
  </ng-container>
  <button mat-stroked-button color="primary" (click)="addFilter()">
    <mat-icon fontIcon="add"></mat-icon>
    {{ "filter-blocks.operation-and" | translate }}
  </button>
</div>
