mat-card {
  padding: 20px 50px;
  mat-icon {
    margin: 0;
  }
  .main-filter {
    display: flex;
    align-items: center;
    app-filter-block {
      flex-grow: 1;
    }
    button {
      margin-left: 50px;
    }
  }
  .concatenation-filter-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .concatenation-filter {
      display: flex;
      align-items: center;
      width: 100%;
      button {
        flex-grow: 0;
        margin-bottom: 22.5px;
      }
      > app-filter-block {
        padding: 0 50px;
      }
      > * {
        flex-grow: 1;
      }
    }
  }
}
