<mat-card>
  <div class="main-filter">
    <app-filter-block [filter]="$any(filterSet[0])"></app-filter-block>
    <button mat-stroked-button color="primary" (click)="search()">
      <mat-icon fontIcon="search"></mat-icon>
    </button>
  </div>
  <div class="concatenation-filter-list">
    <div *ngFor="let filter of filterSet.slice(1, filterSet.length)" class="concatenation-filter">
      <mat-form-field>
        <mat-label>{{ "filter-blocks.operation" | translate }}</mat-label>
        <mat-select
          [value]="$any(filter).booleanOperation"
          (valueChange)="onOperationSelectionChange($event, $any(filter))"
        >
          <mat-option *ngFor="let op of booleanOperations" [value]="op">
            {{ "filter-blocks.operation-" + op | lowercase | translate }}:
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-filter-block
        [filter]="$any(filter)"
      ></app-filter-block>
      <button mat-stroked-button color="primary" (click)="deleteFilter(filter)">
        <mat-icon fontIcon="delete"></mat-icon>
      </button>
    </div>
    <button
      mat-stroked-button
      color="primary"
      (click)="addConcatenationFilter()"
    >
      <mat-icon fontIcon="add"></mat-icon>
    </button>
  </div>
</mat-card>
