@use "@angular/material" as mat;

::ng-deep {
  @include mat.form-field-density(-1);
  @include mat.button-density(-3);
}

.tags-form-field{
  width: 100%;
}

.block-buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  button {
    margin: 0 10px;
  }
}

.filter-set {
  display: flex;
  flex-flow: column;
  align-items: center;
  button {
    margin-bottom: 8px;
  }
  .and,
  .or {
    padding: 3px 40px;
    background: rgb(239, 232, 245);
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 8px;
  }
  > mat-card {
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    .filter {
      button {
        margin-left: 50px;
        &.trash-button mat-icon {
          margin: 0;
        }
      }
      display: flex;
      flex-flow: row;
      align-items: center;
    }
    .concatenation-filters {
      display: flex;
      flex-flow: column;
      align-items: center;
      .or-filter {
        display: flex;
        align-items: center;
      }
    }
  }
}
