@use "@angular/material" as mat;

.form-field-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 0 20px;
  mat-form-field {
    min-width: 300px;
  }
}
.action-buttons {
  padding: 15px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  @include mat.button-density(0);
  button {
    margin: 0 10px;
  }
}
