<div class="block-row" *ngIf="filter">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>{{ "filter-block.key" | translate }}</mat-label>
      <input matInput placeholder="XYZ" [(ngModel)]="filter.key" />
    </mat-form-field>
  </div>
  <div class="spacer"></div>
  <button
    class="negate-button"
    mat-stroked-button
    color="primary"
    (click)="toggleNegate()"
  >
    <ng-container *ngIf="filter.negate; else affirm">
      {{ "filter-block.negate" | translate }}
    </ng-container>
    <ng-template #affirm>
      {{ "filter-block.affirm" | translate }}
    </ng-template>
  </button>
  <div>
    <mat-form-field>
      <mat-label>{{ "filter-block.operation" | translate }}</mat-label>
      <mat-select
        [value]="filter.operation"
        (valueChange)="onOperationSelectionChange($event)"
      >
        <mat-option *ngFor="let op of filterOperations" [value]="op">
          {{ "filter-block.operation-" + op | lowercase | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="spacer"></div>
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>{{ "filter-block.value" | translate }}</mat-label>
      <input matInput placeholder="XYZ" [(ngModel)]="filter.value" />
    </mat-form-field>
  </div>
</div>
