:host {
    display: flex;
}

.full-page {
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.fileUploader {
    margin-bottom: 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}