:host {
    display: flex;
}

.full-page {
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.fileUploader {
    margin-bottom: 20px;
}

.header-row, .button-row{
    display: flex;
    flex-direction: row;
    
}

.header-row {
    align-items: baseline;
}

.button-row {
    align-items: center;
    gap: 10px
}

.margin-bottom {
    margin-bottom: 10px;
}