.card {
    width: 200px;
    height: 200px;
    padding: 20px;
    box-shadow:rgba(0,0,0,0.5) 0px 0px 15px; 
    background-color:mintcream;
    cursor: pointer;
}

.horizontally-centered {
    display: flex;
    justify-content: center;
}

.title {
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    line-height: 1.1em;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.mat-icon {
    font-size: 60px;
    height: 60px ;
    width: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}