<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-primary border-5">
  <div class="container-fluid">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img src="assets/images/logo.svg" height="20" alt="" loading="lazy" style="margin-top: 2px;" />
      </a> -->
      <button *ngIf="showHomeButton" class="btn btn-link" type="button" (click)="goToStartPage()">
        <mat-icon>home</mat-icon>
      </button>
    </div>

    <!-- Middle elements -->
    <div class="navbar-text text-center">
      <h1>{{ 'title.title' | translate }}</h1>
    </div>

    <!-- Right elements -->
    <div class="d-flex ml-auto align-items-center">
      <div class="me-3">
        <span class="navbar-text" *ngIf="user$ | async as user">{{ 'login.username' | translate }} {{ user.email }}</span>
        
        <!-- Logout button -->
        <button class="btn btn-link" type="button" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
      
      <!-- Language switcher -->
      <button mat-icon-button [matMenuTriggerFor]="languageMenu">
        {{ currentLanguage }}
      </button>
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item *ngFor="let language of supportedLanguages" (click)="switchLanguage(language)">
          {{ language }}
        </button>
      </mat-menu>
    </div>
  </div>
</nav>
