<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-primary border-5">

  <div class="container-fluid justify-content-between ">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img
          src="assets/images/logo.svg"
          height="20"
          alt=""
          loading="lazy"
          style="margin-top: 2px;"
        />
      </a>
      Test account hard
    </div>

    
  </div>

</nav>