<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-primary border-5">
  <div class="container-fluid">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
        <img src="assets/images/logo.svg" height="20" alt="" loading="lazy" style="margin-top: 2px;" />
      </a>
      <span class="navbar-text">Logged in as {{ loggedInUser }}</span>
    </div>

    <!-- Right elements -->
    <div class="navbar-nav">
      <!-- Navigation links -->
      <a class="nav-link" href="#">Link 1</a>
      <a class="nav-link" href="#">Link 2</a>
      <a class="nav-link" href="#">Link 3</a>
    </div>
  </div>
</nav>
