[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python3 main.py"
start = "gunicorn --bind localhost:8800 --workers 4 main:app"

[packages]
flask = "*"
flask-restx = "*"
gunicorn = "*"
netcdf4 = "*"
simplejson = "*"

[dev-packages]

[requires]
python_version = "3.8"
