[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
setup = "pipenv install"
dev = "python3 main.py"
start = "gunicorn --bind localhost:8800 main:app"
tests = "python3 -m unittest"

[packages]
flask = "*"
flask-restx = "*"
gunicorn = "*"
netcdf4 = "*"
simplejson = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3"
