<div class="container">
    <div>
      <h1>{{ 'title.rawData' | translate }}</h1>
      <div class="tiles-container">
        <app-dashboard-tile *ngFor="let tile of rawTiles" [title]="tile.title" [iconName]="tile.icon" [url]="tile.url"></app-dashboard-tile>
      </div>
    </div>
    
    <div>
      <h1>{{ 'title.supportedData' | translate }}</h1>
      <div class="tiles-container">
        <app-dashboard-tile *ngFor="let tile of supportedTiles" [title]="tile.title" [iconName]="tile.icon" [url]="tile.url"></app-dashboard-tile>
      </div>
    </div>
  </div>
