<div class="half-page input-container">

    <h2> Upload data</h2>

    <mat-form-field>
        <mat-label>Title of data set</mat-label>
        <input matInput [(ngModel)]="title" required="true">
    </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="description"></textarea>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Keywords</mat-label>
        <mat-chip-grid #chipGrid [required]="true"> 
          <mat-chip-row *ngFor="let selectedKeyword of selectedKeywords" (removed)="remove(selectedKeyword)">
            {{selectedKeyword}}
            <button matChipRemove [attr.aria-label]="'remove ' + selectedKeyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New Keyword..." #keywordInput [formControl]="keywordFormControl"
          [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let keyword of filteredKeywords | async" [value]="keyword">
            {{keyword}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-slide-toggle [(ngModel)]="isReferencedData">Data is referenced</mat-slide-toggle>

      <ng-container *ngIf="!isReferencedData">
        <mat-form-field>
            <mat-label>Data</mat-label>
            <textarea matInput [required]="true" [(ngModel)]="data" (drop)="handleFileDrop($event)" (dragover)="handleFileDragOver($event)" (dragleave)="handleFileDragLeave()"></textarea>
        </mat-form-field>
        <p class="drag-drop-info" *ngIf="isFileDragOver">Drop file here</p>
      </ng-container>
      

      <ng-container *ngIf="isReferencedData">
        <mat-form-field>
            <mat-label>Type of referenced data</mat-label>
            <mat-select [(ngModel)]="mediaType" [required]="true"> 
              <mat-option *ngFor="let mediaTypeOption of mediaTypeOptions" [value]="mediaTypeOption.value">
                {{mediaTypeOption.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field>
            <mat-label>URL</mat-label>
            <input matInput [(ngModel)]="url" [required]="true">
        </mat-form-field>
      </ng-container>

      <div class="long-lat-container">
          <mat-form-field class="long-lat-input">
              <mat-label>Longitude</mat-label>
              <input matInput type="number" [(ngModel)]="longitude">
            </mat-form-field>

            <mat-form-field class="long-lat-input">
                <mat-label>Latitude</mat-label>
                <input matInput type="number" [(ngModel)]="latitude">
            </mat-form-field>
        </div>
      <button mat-raised-button color="primary" (click)="uploadData()" [disabled]="!formIsValid()">Upload data</button>

</div>
<div class="half-page">
    <app-map #mapComponent (coordinateSelected)="handleCoordinateChange($event)"></app-map>
</div>