<div class="address-container">
  <mat-form-field class="address-input">
    <input matInput [(ngModel)]="address" placeholder="{{ 'map.enter' | translate }}" (keydown.enter)="jumpToAddress()">
    <mat-hint>{{ 'map.hint' | translate }}</mat-hint>
    <button type="button" mat-icon-button matSuffix (click)="emptyAddress()">
      <mat-icon>cancel</mat-icon>
  </button>

  </mat-form-field>


  <div class="search-map-features">


  <mat-radio-group aria-label="Select an option" [(ngModel)]="drawType" (ngModelChange)="drawTypeChange()" *ngIf="enableDrawFeatures">
    <mat-radio-button value="POLYGON">Polygon</mat-radio-button>
    <mat-radio-button value="CIRCLE">Circle</mat-radio-button>
  </mat-radio-group>

  <!-- <mat-form-field class="address-input"> -->
    <mat-chip-listbox>
      <mat-chip [removable]="true" *ngFor="let area of searchAreas" (removed)="remove(area.id)">{{area.name}}<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
      <!-- <mat-chip>Two fish</mat-chip>
      <mat-chip color="primary" selected>Primary fish</mat-chip>
      <mat-chip color="accent" selected>Accent fish</mat-chip> -->
    </mat-chip-listbox>

<!-- </mat-form-field> -->
</div>
  <!-- <button mat-raised-button color="primary" class="jump-button" (click)="jumpToAddress()">{{ 'map.jump' | translate }}</button> -->
</div>

<div id="map" class="map-container"></div>

<div id="popup" class="ol-popup">
  <div id="popup-content"></div>
</div>