.map-layout-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.map-container {
  width: 100%;
  flex-grow: 1;
  // height: 400px;
}

.ol-popup {
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  bottom: 12px;
  left: -50px;
  min-width: 100px;

  &:after,
  &:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-top-color: white;
    border-width: 6px;
    left: 48px;
    margin-left: -6px;
  }

  &:before {
    border-top-color: #cccccc;
    border-width: 7px;
    left: 48px;
    margin-left: -7px;
  }
}

.address-container {
  display: block;
  margin-bottom: 10px;

  .address-input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }

  .jump-button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.search-map-features {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.spinner {
  max-width: 20px;
  max-height: 20px;
}

.right-symbols {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}