<div class="journey-container">
  <div class="view-buttons">
    <button
      mat-icon-button
      [matTooltip]="'Default'"
      matTooltipPosition="right"
      (click)="changeView('default')"
    >
      <mat-icon fontIcon="apps"></mat-icon>
    </button>
    <button
      mat-icon-button
      [matTooltip]="'No Map'"
      matTooltipPosition="right"
      (click)="changeView('no-map')"
    >
      <mat-icon fontIcon="public_off"></mat-icon>
    </button>
    <div class="spacer"></div>
    <button
      mat-icon-button
      [matTooltip]="'save'"
      matTooltipPosition="right"
      (click)="saveJourney()"
    >
      <mat-icon fontIcon="save"></mat-icon>
    </button>
    <button
      mat-icon-button
      [matTooltip]="'download'"
      matTooltipPosition="right"
      (click)="download()"
    >
      <mat-icon fontIcon="download"></mat-icon>
    </button>
  </div>
  <div class="view-container">
    <ng-container *ngIf="view == 'default'">
      <ng-container *ngTemplateOutlet="defaultView"></ng-container>
    </ng-container>
    <ng-container *ngIf="view == 'no-map'">
      <ng-container *ngTemplateOutlet="noMapView"></ng-container>
    </ng-container>
    <ng-container> </ng-container>
    <!-- <ng-container *ngTemplateOutlet="eng;"></ng-container> -->
  </div>
</div>

<ng-template #defaultView>
  <div class="map-container">
    <app-map
      [collections]="(displayCollections$ | async) || undefined"
      [presetFilters]="(mapFilters$ | async) || undefined"
      (filterUpdated)="onMapFiltersUpdate($event)"
    ></app-map>
  </div>
  <div class="journey-content-container">
    <div *ngIf="selectedCollection$ | async as collection">
      <app-filter-blocks
        [filterSet]="collection.filterSet"
        (onSearch)="applyFilters()"
      ></app-filter-blocks>
    </div>
    <ng-container *ngTemplateOutlet="noMapView"></ng-container>
  </div>
</ng-template>

<ng-template #noMapView>
  <mat-tab-group
    class="result-tabs"
    (selectedTabChange)="onSelectedTabChange($event)"
  >
    <mat-tab label="Results">
      <app-collection-list
        *ngIf="collectionsData$ | async as collectionsData"
        [collectionsData]="collectionsData"
      ></app-collection-list>
      <button mat-icon-button (click)="addCollection()">
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </mat-tab>
    <mat-tab label="Gallery"> Gallery </mat-tab>
    <mat-tab label="ThreeJS">
      <app-threejs-view
        #viewTabs
        *ngIf="collectionFilesMap$ | async as collectionFilesMap"
        [collectionFilesMap]="collectionFilesMap"
      ></app-threejs-view>
    </mat-tab>
  </mat-tab-group>
</ng-template>
