.journey-container {
  height: 100%;
  display: flex;
  align-items: stretch;
  .view-buttons {
    flex-grow: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    button {
      margin: 10px 0;
    }
    .spacer {
      height: 40px;
    }
  }
  .view-container {
    flex-grow: 1;
    display: flex;
    height: 100%;
    width: calc(100% - 70px);
    .map-container {
      width: 38%;
    }
    .journey-content-container {
      width: 62%;
      max-height: 100%;
      overflow: auto;
    }
  }
}

.result-tabs {
  width: 100%;
  .add-collection-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
