.journey-container {
  display: flex;
  height: 100%;
  width: 100%;
  .map-container {
    flex-grow: 1;
  background-color: red;
  }
  .journey-content-container {
    flex-grow: 1.618;
    background-color: green;
  }
}