<div class="journey-container">
  <div class="view-buttons">
    <button
      mat-icon-button
      [matTooltip]="'journey.view-default-tooltip' | translate"
      matTooltipPosition="right"
      (click)="changeView('default')"
    >
      <mat-icon fontIcon="apps"></mat-icon>
    </button>
    <button
      mat-icon-button
      [matTooltip]="'journey.view-no-map-tooltip' | translate"
      matTooltipPosition="right"
      (click)="changeView('no-map')"
    >
      <mat-icon fontIcon="public_off"></mat-icon>
    </button>
    <div class="spacer"></div>
    <button
      mat-icon-button
      [matTooltip]="'journey.save-tooltip' | translate"
      matTooltipPosition="right"
      (click)="saveJourney()"
    >
      <mat-icon fontIcon="save"></mat-icon>
    </button>
    <button
      mat-icon-button
      [matTooltip]="'journey.download-tooltip' | translate"
      matTooltipPosition="right"
      (click)="download()"
    >
      <mat-icon fontIcon="download"></mat-icon>
    </button>
  </div>
  <div class="view-container">
    <ng-container *ngIf="view == 'default'">
      <ng-container *ngTemplateOutlet="defaultView"></ng-container>
    </ng-container>
    <ng-container *ngIf="view == 'no-map'">
      <ng-container *ngTemplateOutlet="noMapView"></ng-container>
    </ng-container>
    <ng-container> </ng-container>
    <!-- <ng-container *ngTemplateOutlet="eng;"></ng-container> -->
  </div>
</div>

<ng-template #defaultView>
  <div class="map-container">
    <app-map
      [collections]="(displayCollections$ | async) || undefined"
      [presetFilters]="(mapFilters$ | async) || undefined"
      (filterUpdated)="onMapFiltersUpdate($event)"
    ></app-map>
    <div class="disable-map-mask" *ngIf="hasNoCollections$ | async">
      {{ "journey.mapDisabled" | translate }}
    </div>
  </div>
  <div class="journey-content-container">
    <div *ngIf="selectedCollection$ | async as collection">
      <app-filter-blocks
        [filterSet]="collection.filterSet"
        (onSearch)="applyFilters()"
        (onChange)="setMapFilters()"
      ></app-filter-blocks>
    </div>
    <ng-container *ngTemplateOutlet="noMapView"></ng-container>
  </div>
</ng-template>

<ng-template #noMapView>
  <mat-tab-group
    class="result-tabs"
    (selectedTabChange)="onSelectedTabChange($event)"
  >
    <mat-tab [label]="'journey.collections' | translate">
      <div class="collections-container">
        <app-collection-list
          *ngIf="collectionsData$ | async as collectionsData"
          [collectionsData]="collectionsData"
        ></app-collection-list>
        <div class="add-collection-container">
          <button mat-stroked-button (click)="addCollection()">
            <mat-icon fontIcon="add"></mat-icon
            >{{ "journey.add-collection" | translate }}
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab [label]="'journey.gallery' | translate">
      <app-gallery-view
        *ngIf="collectionsData$ | async as collectionsData"
        [collectionsData]="collectionsData"
      ></app-gallery-view>
    </mat-tab>
    <mat-tab [label]="'journey.threejs' | translate">
      <app-threejs-view
        #threeJSView
        *ngIf="collectionsData$ | async as collectionsData"
        [collectionsData]="collectionsData"
        [viewType]="view"
      ></app-threejs-view>
    </mat-tab>
  </mat-tab-group>
</ng-template>
