<div class="journey-container">
  <div class="map-container">
    <app-map [coordinatesToDisplay]="selectedLocations$ | async"></app-map>
  </div>
  <div class="journey-content-container">
    <div *ngIf="selectedCollection$ | async as collection">
      <app-filter-blocks [filterSet]="collection.filterSet"></app-filter-blocks>
    </div>
    <div *ngIf="collectionFilesMap$ | async as collectionFilesMap">
      <app-collection-list
        [collectionFilesMap]="collectionFilesMap" 
      ></app-collection-list>
    </div>
  </div>
</div>
