:host {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    flex: 1 0 200px;
    height: 200px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
    background-color: mintcream;
    cursor: pointer;
}
